html, body {
  font-family: lato;
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url(../IMG/babd6ec29409bff42a161e303260ed7a.jpg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header-bar {
  background: rgba(0,0,0,0.8);
  z-index: 998;
  height: 6%;
  width: 100%;
  position: relative;
}

#header-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#header-icon2 {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 5px;
  background-image: url(../IMG/earth_trans.png);
  background-size: cover;
  animation: ellipseOrbit 30s ease-in-out infinite;
}

#header-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  color: white;
  font-size: 200%;
}

#header-score {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  float: right;
  height: 100%;
}

table {
  border-collapse: collapse;
  font-size: 120%;
}

.roundBorder {
  border-right: 1px solid white;
}

th {
  padding: 0px 10px 0px 10px;
}

.align-right {
  text-align: right;
}

#result-popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 500;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#result-popup {
  background: rgba(0,0,0,0.8);
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  pointer-events: auto;
  z-index: 500;
}

#result-text {
  display: inline-block;
}

#next-button{
  display: inline-block;
  background-color: forestgreen;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}

#next-button:hover {
  background-color: green;
  cursor: pointer;
}

#next-button:focus {
  outline: none;
}

#showResults-button{
  background-color: forestgreen;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-family: inherit;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 5px 15px 5px 15px;
}

#showResults-button:hover {
  background-color: green;
  cursor: pointer;
}

#showResults-button:focus {
  outline: none;
}

#pano {
  height: 100%;
  width: 100%;
  bottom: 0;
  position: fixed !important;
  z-index: 1;
}

.map-and-button{
  height: 30%;
  width: 25%;
  z-index: 2;
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-bottom: 9vh;
  transition: all .3s ease;
}

.map-and-button.expand {
  height: 50vh;
  width: 50vw;
}

#map{
  height: 85%;
  width: 100%;
}

#expand-button {
  z-index: 500;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 1px;
}

#expand-button:hover {
  opacity: 0.8;
}

#expand-button:focus {
  outline: none;
}

#expand-bg {
  z-index: 499;
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  padding: 1px;
  background-color: #000000;
  opacity: 0.8;
}

#guess-button {
  background: forestgreen;
  position: absolute;
  margin-top: 5px;
  color: #fff;
  height: 5vh;
  width: 100%;
  border: solid 1px white;
  font-size: 20px;
  border-radius: 15px;
  font-family: inherit;
  letter-spacing: 1px;
  transition: .3s;
}

#guess-button:hover {
  background: green;
  cursor: pointer;
}

#guess-button:focus {
  outline: none;
}

#guess-button:disabled, #guess-button[disabled] {
  background: rgba(0,0,0,0.8);
}

#guess-button:disabled:hover, #guess-button[disabled]:hover{
  background: rgba(0,0,0,0.8);
  cursor: default;
}

#end-page {
  font-family: lato;
  font-weight: 800;
  height: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 25px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 999;
}

#end-page table {
  width: 35vw;
  border-collapse: collapse;
  text-align: center;
  z-index: 999;
}

#result-table-bg {
  background: rgba(0,0,0,0.6);
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  z-index: 998;
}

#end-page th, td {
  border-bottom: 1px solid white;
  z-index: 999;
}

#end-page td {
  padding: 10px;  
  z-index: 999;
}

#end-page h1 {  
  display: block;
  text-align: center;
}

#end-screen-buttons {
  z-index: 999;
  margin-bottom: 5vh;
}

#hide-results-button {
  background: rgba(0,0,0,0.6);
  display: inline-block;
  margin-top: 5px;
  border: solid 1px white;
  border-radius: 30px;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 30px;
  color: white;
  padding: 5px 15px 5px 15px;
}

#hide-results-button:hover{
  background-color: green;
  cursor: pointer;
}

#hide-results-button:focus {
  outline: none;
}
#new-game-button {
  background: forestgreen;
  display: inline-block;
  margin-top: 5px;
  border: solid 1px white;
  border-radius: 30px;
  font-family: inherit;
  letter-spacing: 1px;
  font-size: 30px;
  color: white;
  padding: 5px 15px 5px 15px;
}

#new-game-button:hover{
  background-color: green;
  cursor: pointer;
}

#new-game-button:focus {
  outline: none;
}

@keyframes ellipseOrbit {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}