html, body {
    font-family: lato;
    height: 100%;
    padding: 0;
    margin: 0;

}

footer{
  background-color: #202020;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 5%;
  bottom: 0;
  display: block
}

.map-and-button{
  height: 30%;
  width: 25%;
  padding: 0;
  z-index: 999;
  position: absolute;
  left: 10px;
  bottom: 0;
  margin-bottom: 9vh;
}

#map{
  height: 85%;
  width: 100%;
  border: solid 1px white;
  border-radius: 20px;
}

#guess-button{
  background-color: forestgreen;
  height: 15%;
  width: 100%;
  margin-top: 5px;
  border: solid 1px white;
  border-radius: 30px;
  font-family: inherit;
  color: white;
}

#guess-button:hover {
  background-color: green;
  cursor: pointer;
}

#pano {
    float: left;
    height: 95%;
    width: 100%;
}
